{% extends 'admin_base.html' %}
{% load static %}

{% block title %}
Customers Management
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user_management.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <main class="main-content">
      <section class="customers-section">
        <h3>Customers Management</h3>
        <form method="GET">
            <div class="search-bar">
                <input type="text" name="search" value="{{ search_query }}" placeholder="Search by name, ID, or email...">
                <button type="submit">
                    Search
                </button>

                <a class="btn clear-btn" href="{% url 'user_management' %}">
                    Clear
                </a>
            </div>
        </form>
        
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>SL No</th>
                <th>Username</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>              
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>

                    <td class="username">
                    {{ user.full_name|default:user.username }}
                    </td>

                    <td>{{ user.email }}</td>

                    <td>{{ user.mobile_number }}</td>

                    <td>
                    {% if user.is_active %}
                        <span class="status active">ACTIVE</span>
                    {% else %}
                        <span class="status blocked">BLOCKED</span>
                    {% endif %}
                    </td>

                    <td class="actions">

                        <i class="fa-solid fa-eye"></i>

                        <a href="{% url 'toggle_user_status' user.id %}"
                            onclick="return confirmToggle(event, '{{ user.is_active }}')">

                            {% if user.is_active %}
                                <i class="fa-solid fa-ban"></i>
                            {% else %}
                                <i class="fa-solid fa-check-circle"></i>
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <div class="pagination">
            <p>
                Showing {{ page_obj.start_index }} to {{ page_obj.end_index }}
                of {{ page_obj.paginator.count }} customers
            </p>

            <div class="page-controls">

                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">
                    &lt;
                </a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="active">{{ num }}</a>
                {% else %}
                    <a href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">
                    {{ num }}
                    </a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">
                    &gt;
                </a>
                {% endif %}

            </div>
        </div>
        </div>
      </section>
    </main>
    <script>
    function confirmToggle(event, isActive) {
        event.preventDefault();

        let action = (isActive === "True") ? "block" : "unblock";
        let url = event.currentTarget.href;

        Swal.fire({
            title: "Are you sure?",
            text: `Do you want to ${action} this user?`,
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes",
            cancelButtonText: "No"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });

        return false;
    }
    </script>

    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    icon: '{{ message.tags }}',
                    title: '{{ message }}',
                    confirmButtonText: 'OK'
                });
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}
