
{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

  <!-- Hero Section -->
  <section class="hero">
    <img src="{% static 'images/Hero_image.png' %}" alt="Perfume Bottle">
    <h2>Discover Your Signature Scent</h2>
    <a href="{% url 'shop' %}"><button class="cta">Shop Now</button></a>
  </section>

  <section class="collections">
    <h3>The Collections</h3>
    <div class="collection-grid">
    {% for category in categories %}
        <a href="{% url 'collection_details' category.id %}" class="collection-item">
            {% if category.image %}
                <img src="{{ category.image.url }}" alt="{{ category.category_name }}">
            {% endif %}
            <div class="collection-info">
                <h3 style="color: #fff;">{{ category.category_name }}</h3>
            </div>
        </a>
    {% endfor %}
    </div>
  </section>

  <!-- New Arrivals -->
  <section class="new-arrivals">
    <div class="section-header">
      <h3>
        New Arrivals
      </h3>
      <a href="{% url 'shop' %}" class="view-all">View All</a>
    </div>
    <div class="product-grid">
  {% for variant in new_arrivals %}
    <a href="{% url 'product_details' variant.id %}" class="product">
      {% with variant.images.first as img %}
        {% if img %}
          <img src="{{ img.image.url }}" alt="{{ variant.product.product_name }}">
        {% else %}
          <div class="no-product-image">
            <i class="fa-solid fa-image"></i>
          </div>
        {% endif %}
      {% endwith %}

      <h4>{{ variant.product.product_name }}</h4>

      {% if variant.discount_price %}
        <p class="product-price">
          <span class="original-price">
            <s>₹{{ variant.price }}</s>
          </span>

          <span class="discount-price">
            ₹{{ variant.effective_price }}
          </span>
        </p>
      {% else %}
        <p class="product-price">
          <span class="price">
            ₹{{ variant.price }}
          </span>
        </p>
      {% endif %}
    </a>
  {% empty %}
    <p class="empty-arrivals">No new arrivals available.</p>
  {% endfor %}
</div>
  </section>

{% endblock %}