{% extends 'base.html' %}
{% load static %}

{% block title%}
address book
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/address_book.css' %}">
<link rel="stylesheet" href="{% static 'css/side_bar.css' %}">
{% endblock %}

{% block content %}
  {% include 'side_bar.html' %}
  <!-- Main Content -->
  <main class="address-content">
    <div class="header-row">
      <div>
        <h2>Manage Addresses</h2>
        <p class="subtitle">Curate your delivery destinations with the same precision as your fragrance collection.</p>
      </div>
      <a href="{% url 'add_address' %}" class="add-btn">
            + Add New Address
        </a>
    </div>

    
        <!-- Address Cards -->
    {% if addresses %}

    <div class="address-grid">

    {% for address in addresses %}

    <div class="address-card {% if address.is_default %}default{% endif %}">

        <div class="card-header">

        <span class="tag">
            {{address.address_type}}
        </span>

        {% if address.is_default %}
        <span class="status">Default</span>
        {% endif %}

        </div>

        <h4>{{ address.full_name }}</h4>

        <p>
        <i class="fa-solid fa-phone"></i>
        {{ address.phone_number }}
        </p>

        <p>
        <i class="fa-solid fa-location-dot"></i>

        {{ address.address_line }},
        {{ address.city }},
        {{ address.state }},
        {{ address.postal_code }}

        </p>

        <div class="card-actions">

        <a href="{% url 'edit_address' address.id %}"
            class="btn edit">

            Edit

        </a>

        <a href="{% url 'delete_address' address.id %}" class="btn delete" id="deleteBtn">
          Delete
        </a>

        {% if not address.is_default %}
        <a  class="btn default" href="{% url 'set_default_address' address.id %}">
          Set as Default
        </a>
        {% endif %}

        </div>

    </div>

    {% endfor %}

    </div>

    {% else %}

    <!-- Empty State -->

    <div class="empty-address">

    <h3>No addresses added yet</h3>      

    </div>

    {% endif %}

    <!-- Concierge Delivery Section -->
    <section class="concierge">
      <div class="concierge-image">
        <img src="{% static 'images/Address_book.svg' %}" alt="Concierge Delivery">
      </div>
      <div class="concierge-text">
        <h5 class="section-label">The Scentora Service</h5>
        <h3>Concierge Delivery</h3>
        <p>
          Every Scentora delivery is handled with the same reverence as the fragrances themselves.
          We ensure your signature scent arrives in pristine condition, wrapped in our sustainable silk-lined packaging.
        </p>
      </div>
    </section>
  </main>
  <script>
document.addEventListener("DOMContentLoaded", function () {

    const deleteButtons = document.querySelectorAll(".btn.delete");

    deleteButtons.forEach(btn => {
        btn.addEventListener("click", function (e) {
            e.preventDefault(); // stop normal link

            const url = this.getAttribute("href");

            Swal.fire({
                title: "Delete Address?",
                text: "Do you want to delete this address? This action cannot be undone.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it",
                cancelButtonText: "Cancel"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });

        });
    });

});
</script>
{% endblock %}



