<header class="navbar">
    <h1 class="brand">SCENTORA</h1>

    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{%url 'shop' %}">Shop</a></li>
        <li><a href="{%url 'collections' %}">Collections</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>

    {% if request.user.is_authenticated %}
        <div class="icons">
            <i class="fas fa-search"></i>
            <a href="{% url 'wishlist' %}">
                <i class="far fa-heart"></i>
            </a>
            <a href="{% url 'cart' %}">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="/profile/dashboard/">
                <i class="fas fa-user"></i>
            </a>
        </div>
    {% else %}
        <div class="auth-buttons">
            <a href="{% url 'login' %}" class="login-btn">
                Login
            </a>
        </div>
    {% endif %}
</header>