<header class="navbar">
    <h1 class="brand">SCENTORA</h1>

    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{%url 'shop' %}">Shop</a></li>
        <li><a href="{%url 'collections' %}">Collections</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
      </ul>
    </nav>

    {% if request.user.is_authenticated %}
        <div class="icons">
            <a href="{% url 'shop' %}">
                <i class="fas fa-search"></i>
            </a>
            <a href="{% url 'wishlist' %}" class="icon-with-badge">
                <i class="far fa-heart"></i>
                {% if wishlist_count > 0 %}
                    <span class="badge">{{ wishlist_count }}</span>
                {% endif %}
            </a>
            <a href="{% url 'cart' %}" class="icon-with-badge">
                <i class="fas fa-shopping-cart"></i>
                {% if cart_count > 0 %}
                    <span class="badge">{{ cart_count }}</span>
                {% endif %}
            </a>
            <a href="/profile/dashboard/">
                <i class="fas fa-user"></i>
            </a>
        </div>
    {% else %}
        <div class="auth-buttons">
            <a href="{% url 'login' %}" class="login-btn">
                Login
            </a>
        </div>
    {% endif %}
</header>