/* Customers Section */
.customers-section h3 {
  color: #c59a3a;
  font-size: 20px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  background-color: #1e1e1e;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.search-bar button {
  background-color: #c59a3a;
  border: none;
  color: #000;
  padding: 10px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e0b84a;
}

/* Table */
.table-container {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

th {
  color: #c59a3a;
  font-weight: 500;
  border-bottom: 1px solid #333;
}

td {
  color: #ccc;
  border-bottom: 1px solid #2a2a2a;
}

.username {
  font-weight: 600;
  color: #fff;
}

.status {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.status.active {
  background-color: #2a2a2a;
  color: #c59a3a;
}

.status.blocked {
  background-color: #3a3a3a;
  color: #f44336;
}

.actions i {
  margin-right: 10px;
  color: #c59a3a;
  cursor: pointer;
}

.actions i.highlight {
  color: #e0b84a;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.btn {
    padding: 8px 14px;
    border: 1px solid #e0b84a;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: None;
    font-size: 13px;
}

.clear-btn {
  color: #fff;
}

